# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Extra files
.ycm_extra_conf.pyc
*.sublime-workspace

#Extra directories
*/build
/build/bin
flags
doc/*
!doc/Doxyfile
*/workspace/
*/debug/
*/release/


#Python
__pycache__/

#clang
compile_commands.json

*.orig
.clang_complete

.vs/

cmake-build-debug/
